<div class="footer-support">
    <div class="footer-support__detail container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <div class="d-flex justify-content-end r-m-1  footer-justify">
                    <i class=" 	fas fa-hand-holding-heart"></i>
                    <p>Care about people and Africa wellbeing in bringing peace and positive co-existance</p>
                </div>
            </div>


            <div class="col-sm-6">
                <div class="d-flex justify-content-start r-m-1 footer-justify">
                    <button class="btn-nsw btn-nsw-primary">Donate</button>
                    <button class="btn-nsw btn-nsw-primary">Support</button>
                </div>
            </div>
        </div>


    </div>
</div>

<div class="footer-main">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-4">
                <div class="d-flex footer-justify">
                    <div class="footer-main__about">
                        <h3>About <em>TAC</em></h3>
                        <p>TAC An NGO Obliged to bringing together Law Enforcement Agents, Academia and Subject Matter
                            Experts to curb technology aided crime</p>
                        <p>1 sleekseed crescent, Adjacent Royal Champion Assembly, Chikakore, kubwa, Abuja</p>
                        <p>Mail: contact@tacafrica.org</p>
                        <p>Tel:
                            +234 706 224 7581
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex footer-justify">
                    <div class="footer-main__quicklinks r-m-1f">
                        <h3>Quicklinks</h3>
                        <ul>
                            <li><a href="http://">HomePage</a></li>
                            <li><a href="http://">Drone Lab</a></li>
                            <li><a href="http://">Cyber Lab</a></li>
                            <li><a href="http://">Contact</a></li>
                            <li><a [routerLink]="['/about']">About</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex footer-justify">
                    <div class="footer-main__socials r-m-1f">
                        <h3>Socials</h3>
                        <div>
                            <a class="fab fa-facebook" href="https://web.facebook.com/tacafrica.org/"></a>
                            <a class="fab fa-twitter" href="https://twitter.com/tacafrica"></a>
                            <a class="fab fa-instagram" href="https://www.instagram.com/technologyagainstcrime/"></a>
                            <a class="fab fa-linkedin" href="https://www.linkedin.com/company/29341224/"></a>
                        </div>

                        <img src="" alt="" srcset="">
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

<div class="footer-bottom">
    <div class="container-fluid">
        <p>Copyright © 2020 Technology Against Crime. All Rights Reserved</p>
    </div>
</div>