<section>
    <div>
        <div class="container-fluid top-section">
            <h2 class="text-center homepage-title">Our <em>Advisory Board</em></h2>
            <div class="advisory-board" *ngIf="team">
                <ng-container *ngFor="let advisory_board of team">
                    <ng-container *ngIf="advisory_board.team_level==='advisory board'">
                        <div class="advisory-board__members">
                            <img [src]="advisory_board.image" [alt]="advisory_board.name" [title]="advisory_board.name"
                                class="advisory-board__img">
                            <div>
                                <h3>{{ advisory_board.name }}</h3>
                                <p>
                                    {{ advisory_board.title }}
                                </p>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
        </div>


        <div class="inline-support top-section">
            <div class="container-fluid">
                <div class="inline-support__title">
                    <h2 class="homepage-title text-center">Support Us</h2>
                    <p class="text-center">We are working to promote promote peace and stability in <em>Africa</em>
                        using technology</p>
                </div>

                <div class="inline-support__detail">
                    <div class="inline-support__item">
                        <i class="fas fa-donate"></i>
                        <a href="">
                            <h3> <em>Donate</em> </h3>
                        </a>
                        <p>Help Us Make a Difference Today</p>
                    </div>
                    <div class="inline-support__item">
                        <i class="fas fa-handshake"></i>
                        <a href="">
                            <h3> <em>Come work for Us</em> </h3>
                        </a>
                        <p>Join Technology Against Crime Africa</p>
                    </div>

                    <div class="inline-support__item">
                        <i class="fas fa-globe"></i>
                        <a href="">
                            <h3> <em>Become An Ambassador</em> </h3>
                        </a>
                        <p>Join Technology Against Crime Africa</p>
                    </div>

                </div>
            </div>
        </div>

        <div class="container-fluid top-section">
            <div class="inline-blog">
                <div class="row">
                    <div class="col-md-3">
                        <div class="d-flex title-justify">
                            <h2 class="homepage-title" style="max-width: 5em;"><em>News</em> and <em>Publications</em>
                            </h2>
                        </div>

                        <div class="inline-blog__nav">
                            <i (click)="moveLeft()" class="fas fa-angle-left"></i>
                            <i (click)="moveRight()" class="fas fa-angle-right"></i>
                        </div>

                    </div>
                    <div class="col-md-9">
                        <div class="inline-blog__row">
                            <drag-scroll #inblog>
                                <ng-container *ngIf="posts">
                                    <ng-container *ngFor="let post of posts">
                                        <div class="inline-blog__item" drag-scroll-item>
                                            <div class="inline-blog__img-container">
                                                <img src="{{post.image}}" class="inline-blog__img img-fluid" alt=""
                                                    srcset="">
                                            </div>
                                            <div class="inline-blog__blog-detail">
                                                <a [routerLink]="['/posts', post.slug]" routerLinkActive="router-link-active" >
                                                    <h3>{{ post.title | slice:0:70 }}...</h3>
                                                </a>
                                                <p>{{ post.publish | date  }}</p>
                                            </div>
                                        </div>
                                    </ng-container>
                                </ng-container>

                            </drag-scroll>

                        </div>


                    </div>
                </div>
            </div>
        </div>


    </div>

</section>