@import '../../../styles/abstracts/variables';

.advisory-board {
    display: flex;
    justify-content: space-around;
    margin-top: 5em;

    &__members {
        max-width: 22em;
        display: flex;
        position: relative;
        padding: 2em 1em 2em 2em;
        border-radius: 0.4em;
        border: 1px solid $main-yellow;
        margin: 1em;
    }

    &__img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
        top: -1rem;
        left: 1rem;
        position: absolute;
    }

    p {
        font-size: 1.1em;
        line-height: 1.5;
        color: $lightest-blue;
        margin-top: .5em;
        text-transform: lowercase;
    }

    h3 {
        color: $lighter-blue;
        text-transform: capitalize;
        font-weight: 600;
        line-height: 1.5;
        font-size: 1.2em;
    }
}

.inline-support {
    background: $main-grey;
    padding-top: 10rem;
    padding-bottom: 10rem;

    &__title {
        font-size: 1.1em;
        line-height: 1.5;
        color: $lightest-blue;
    }

    &__detail {
        display: flex;
        justify-content: space-around;
        text-align: center;
    }

    &__item {
        color: $lightest-blue;
        margin-top: 5em;

        i {
            color: $lightest-blue;
            font-weight: 600;
            font-size: 3.5em;
            min-height: 1em;
            margin-top: 1.5rem;
        }

        h3 {
            font-size: 1.37rem;
            line-height: 1.5;
            color: $main-blue;
            margin-top: 0.3rem;
            text-transform: capitalize;
        }

        p {
            margin-top: 1rem;
            font-size: 1.1rem;
            text-transform: lowercase;
        }
    }
}

.drag-scroll {
    width: 100%;
    max-width: 62em;
}

.inline-blog {

    &__row {
        display: flex;
        flex-direction: row;
        width: 100%;

        max-width: 62em;
    }

    &__item {
        border: 1px solid #8080804a;
        border-radius: .5em;
        max-width: 20em;
        margin-right: 1em;
    }

    &__img-container {
        overflow: hidden;
        position: relative;
    }

    &__img {
        height: 15em;
        border-top-right-radius: .5em;
        border-top-left-radius: .5em;

    }

    &__blog-detail {
        min-height: 8em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        white-space: initial !important;

        h3 {
            box-sizing: border-box;
            font-size: 1.1em;
            line-height: 1.5;
            margin-top: .5em;
            color: $lighter-blue;
            padding: .5em;
            text-transform: lowercase;
        }

        p {
            color: $transparent-blue;
            text-transform: lowercase;
            font-size: .7em;
            padding: .7em;
        }
    }


    a {
        text-decoration: none;
    }

    &__nav {
        display: flex;
        justify-content: center;
        margin-top: 1em;

        i {
            padding: .3em .5em;
            border-radius: .2em;
            background-color: $lighter-blue;
            color: $main-white;
            cursor: pointer;

            &:first-child {
                margin-right: 1em;
            }
        }
    }
}

.title-justify {
    justify-content: center;
}

@media (max-width: $breakpoint-md) {
    .inline-blog {
        &__row {
            margin-top: 2em;
        }
    }

    .title-justify {
        justify-content: flex-start;
    }

    .inline-support {
        &__detail {
            flex-direction: column;
        }
    }

    .advisory-board {
        flex-direction: column;
        align-items: center;

        &__members {
            &:not(:first-child) {
                margin-top: 2em;
            }
        }
    }

}