@import '../../../styles/abstracts/variables';

.advisory-board {
    display: flex;
    justify-content: space-around;
    margin-top: 5em;


    &__members {
        max-width: 22em;
        background: $main-grey;
        display: flex;
        position: relative;
        padding: 2em 1em 2em 2em;
        border-radius: 0.4em;

    }

    &__img {
        background: url(../../../assets/sanjana.jpg);
        background-position: center;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 3em;
        width: 3em;
        top: -1rem;
        left: 1rem;
        border-radius: 50%;
        position: absolute;
        border: 1px 2px 2px #477e8f
    }

    p {
        font-size: 1em;
        line-height: 1.2;
        color: #477e8f;
    }

    h3 {
        color: #17466c;
        text-transform: capitalize;
        font-weight: 600;
        line-height: 1.5;
        font-size: 1.3em;
    }
}

.inline-support {
    background: $main-grey;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-top: 8rem;

    &__title {
        font-size: 1.1em;
        line-height: 1.5;
        color: $lightest-blue;
    }

    &__detail {
        display: flex;
        justify-content: space-around;
        text-align: center;
    }

    &__item {
        color: $lightest-blue;
        margin-top: 2em;

        i {
            color: $lightest-blue;
            font-weight: 600;
            font-size: 3.5em;
            min-height: 1em;
            margin-top: 1.5rem;
        }

        h3 {
            font-size: 1.3rem;
            line-height: 1.5;
            color: $main-blue;
            margin-top: 0.8rem;
        }

        p {
            margin-top: 1rem;
            font-size: 1.1rem;
        }
    }
}

.inline-blog {
    margin-top: 8em;

    &__row {
        display: flex;
        flex-direction: row;
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-snap-type: mandatory;
        cursor: -moz-grab;
        max-width: 62em;
    }

    &__item {
        max-width: 20em;
        margin-right: 1em;
        flex-shrink: 0;
        scroll-snap-align: center;

        p {
            font-size: 1.1em;
            line-height: 1.5;
            margin-top: .5em;
            color: $lighter-blue;
        }
    }

    &__img-container {
        overflow: hidden;
        position: relative;
    }

    &__img-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(#477E8F1C, #6E9AA88F);
        transition: .5s ease-in-out;


        &:hover {
                    transition: .5s ease-in-out;

        background: linear-gradient(#477e8f0c, #6e9ba849);
        }
    }

    &__img {
        background: linear-gradient($lightest-blue, $transparent-blue);
        background-position: 50% 50%;
        background-size: cover;
        height: 15em;
        transition: .5s ease-in-out;


        &:hover {}
    }


    a {
        text-decoration: none;
    }
}

.title-justify {
    justify-content: center;
}

@media (max-width: $breakpoint-md) {
    .inline-blog {
        &__row {
            margin-top: 2em;
        } 
    }
     
    .title-justify {
        justify-content: flex-start;
    }

    .inline-support {
        &__detail {
            flex-direction: column;
        }
    }

    .advisory-board {
        flex-direction: column;
        align-items: center;

        &__members {
            &:not(:first-child) {
                margin-top: 2em;
            }
        }
    }

}