<header>
    <tac-nav></tac-nav>
    <tac-header-page-nav [title]="title"></tac-header-page-nav>
</header>

<main>
    <section class="container">
        <div class="row">
            <div class="col-md-5">
                <div>
                    <div>
                        <h3 class="homepage-title">Get In Touch</h3>
                        <p>We are here to help you at any time all
                            over the world so don’t hesitate to reach out to us.</p>
                    </div>

                    <div>
                        <h3 class="homepage-title">Secretariat</h3>
                        <p>1 sleekseed crescent, Adjacent Royal Champion Assembly, Chikakore, kubwa, Abuja</p>
                        <p>Mail: contact@tacafrica.org</p>
                        <p>Tel: +234 706 224 7581</p>
                    </div>

                    <div>
                        <h3 class="homepage-title">Connect On Social</h3>
                        <div>
                            <a class="fab fa-facebook" href="https://web.facebook.com/tacafrica.org/"></a>
                            <a class="fab fa-twitter" href="https://twitter.com/"></a>
                            <a class="fab fa-instagram" href="https://www.instagram.com/technologyagainstcrime/"></a>
                            <a class="fab fa-linkedin" href="https://www.linkedin.com/company/29341224/"></a>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-md-7">
                <form action="https://formspree.io/akubosylvernus@gmail.com" method="post">
                    <div class="form-group">
                        <label for="name">Full Names</label>
                        <input type="input" class="form-control" id="name" placeholder="John Alabi">
                    </div>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" name="_replyto" id="email"
                            placeholder="johnalabi@mail.com">
                    </div>

                    <div class="form-group">
                        <label for="subject">Subject</label>
                        <input type="input" class="form-control" name="_subject" id="subject"
                            placeholder="need to know more about...">
                    </div>

                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea class="form-control" id="message" name="user_message" rows="3"></textarea>
                    </div>

                    <button class="btn-sw btn-sw-primary">Message</button>
                </form>
            </div>
        </div>
    </section>
</main>


<footer>
    <tac-footer></tac-footer>
</footer>