<nav style="padding-left: 2.2rem; padding-right: 2.2rem; transition: .5s all;"
    [style.box-shadow]="isShow ? '0 2px 2px rgba(0, 0, 0, 0.17)' : 'none'"
    [style.background]="isShow ? '#ffff' : 'transparent'"
    class="navbar navbar-expand-lg navbar-light bg-applight fixed-top">
    <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="active"><img style="transition: .7s all;"
            class="logo-img" [style.height]="isShow ? '60px' : '100px'" src="../../../assets/tac-logo.png" alt="logo"
            srcset=""></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
        (click)="onClickMe()">
        <span class="icon-bar" style="width: 30px;" #top></span>
        <span class="icon-bar" #middle></span>
        <span class="icon-bar" style="width: 30px;" #bottom></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">

            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/']" [routerLinkActiveOptions]="{ exact: true }"
                    routerLinkActive="active">Home</a>
            </li>

            <li class="nav-item dropdown" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link dropdown-toggle nav-summit" href="#" id="summitNavbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> About


                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['/about']">About Us</a>
                    <a class="dropdown-item" [routerLink]="['/founder']">Founder</a>
                    <a class="dropdown-item" [routerLink]="['/team']">Our Team</a>
                    <a class="dropdown-item" [routerLink]="['/partners']">Partners & Supporters</a>
                </div>
            </li>

            <li class="nav-item dropdown" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link dropdown-toggle nav-summit" href="#" id="summitNavbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" > Labs


                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['']" >Drone Lab</a>
                    <a class="dropdown-item" [routerLink]="['']">Cyber Lab</a>
                </div>
            </li>

            <li class="nav-item dropdown" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link dropdown-toggle nav-summit" href="#" id="summitNavbarDropdown"
                    role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Resource


                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['/blog']">Blog
                        </a>
                    <a class="dropdown-item" [routerLink]="['/gallery']">Gallery</a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">Contact</a>
            </li>
        </ul>
        <a href=""><button class="btn-nsw btn-nsw-secondary my-2 my-sm-0" type="submit">Donate</button></a>
    </div>

</nav>