<section class="top-section background-main-grey ">
    <div class="container-fluid pt-5 pb-5">
        <div>
            <h2 class="text-center homepage-title"><em>Subject</em> Matters</h2>
        </div>

        <div class="row text-center align-items-end">
            <div class="col-md-3">
                <div class="mt-5">
                    <img class="img-fluid" src="../../../assets/Academia Icon.svg" alt="" srcset="">
                    <p class="mt-3 color-light-blue">Academia</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mt-5">
                    <img class="img-fluid" src="../../../assets/Academia Icon.svg" alt="" srcset="">
                    <p class="mt-3 color-light-blue">Academia</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mt-5">
                    <img class="img-fluid" src="../../../assets/Academia Icon.svg" alt="" srcset="">
                    <p class="mt-3 color-light-blue">Academia</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mt-5">
                    <img class="img-fluid" src="../../../assets/Academia Icon.svg" alt="" srcset="">
                    <p class="mt-3 color-light-blue">Academia</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mt-5">
                    <img class="img-fluid" src="../../../assets/Academia Icon.svg" alt="" srcset="">
                    <p class="mt-3 color-light-blue">Academia</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mt-5">
                    <img class="img-fluid" src="../../../assets/Academia Icon.svg" alt="" srcset="">
                    <p class="mt-3 color-light-blue">Academia</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mt-5">
                    <img class="img-fluid" src="../../../assets/Academia Icon.svg" alt="" srcset="">
                    <p class="mt-3 color-light-blue">Academia</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mt-5">
                    <img class="img-fluid" src="../../../assets/Academia Icon.svg" alt="" srcset="">
                    <p class="mt-3 color-light-blue">Academia</p>
                </div>
            </div>

        </div>
    </div>
</section>