<section>
    <div class="inline-newsletter container-fluid top-section">
        <div class="row">
            <div class="col-md-6">
                <div class="inline-newsletter__icon">
                    <img class="img-fluid" src="../../../assets/newsletter.png" alt="newsletter iCon illustration"
                        srcset="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="inline-newsletter__details-container">
                <div class="inline-newsletter__details">
                    <h2 class="homepage-title">Join Our <br>
                        <em>Newsletter</em> </h2>

                    <p>Get latest update on cyber related trends, law enforcement
                        methodologies and Unmanned Aerial Vehicle trends in Africa and beyond.
                    </p>

                    <form action="">
                        <label for="email">Email</label> <br>
                        <input id="email" name="email" placeholder="youremail@mail.com" type="email address"> <br>
                        <button type="submit" class="btn-sw btn-sw-primary">Join Newsletter</button>
                    </form>
                </div>                    
                </div>

            </div>
        </div>
    </div>
</section>