@import '../../../styles/abstracts/variables';

.inline-newsletter {
    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    &__details {
        p {
            color: $lightest-blue;
            max-width: 25em;
            font-size: 1.1em;
            line-height: 1.5;
            margin-top: 1em;
        }
    }

    &__details-container {
        display: flex;
        justify-content: center;
    }

    form {
        margin-top: 2em;

        label {
            color: $lightest-blue;
            transform: translate(20px, 12px);
            background: $main-blue;
            padding: .3em;
            border-radius: .2em;
            color: $main-white;
            font-size: .9em;
        }

        input {
            border-radius: .3em;
            padding: 1rem 1.5rem;
            font-size: 1.1em;
            color: $light-blue;
            outline: 0;
            border: 0.2rem solid $light-grey;
            max-width: 27rem;
            width: 100%;

            &:focus {
                border-color:$lightest-blue;
            }
        }

        button {
            margin-top: .5em;
        }
    }
}

section {
    width: 100%;
    overflow-x: hidden;
}

@media (max-width: $breakpoint-md) {
    .homepage-title {
        margin-top: 2em;
    }
}