<section class="container-fluid">
    <div class="top-container container-pd ">
        <div class="row">
            <div class="col-md-5">
                <div class="tac-header-detail">
                    <div class="tac-header-detail__items">
                        <h2>Drone and Counter Drone
                            Virtual <em>Co-creation </em> Lab
                        </h2>

                        <p>
                            Brings together global subject matter experts from
                            Academia, Law Enforcement Agencies, industry
                            expert and all concerned stakeholders through a
                            dedicated online Platform to chart a global cause
                            for Africa
                        </p>

                        <a href="https://lab.tacafrica.org/">
                            <button class="btn-sw btn-sw-primary btn-nsw-width ">Enter Into The Lab</button>
                        </a>
                    </div>

                </div>

            </div>

            <div class="col-md-7">
                <div class="header-icon">
                    <img class="img-fluid" src="../../../assets/Drone-lab-page-icon.svg" alt="Technology Against Crime ideology" srcset="">
                </div>
            </div>
        </div>
    </div>
</section>