<section class="inline-about top-section">
    <div class="row">
        <div class="col-md-6">
            <div class="container-fluid about-details">
                <div>
                    <h2 class="homepage-title">About Us</h2>
                    <div class="about-details__p">
                        <p>TAC AFRICA was born out of an International Forum on Technologies, a high level
                            meeting dedicated to <em>Technology for a Safer world</em>. The first two editions were held
                            in
                            Lyon, in April 2013 and April 2016 respectively under the patronage of the Ministry of
                            Interior and INTERPOL. <a href="http://www.forum-tac.com/">(www.forum-tac.org)</a>.</p>
                        <p>
                            We were appointed member of
                            the prestigious Drone Expert Forum, which
                            brought together nearly 100 experts from law enforcement,
                            academia and private industry
                            to demonstrate how drones can at the same time be a
                            threat, particularly for critical
                            infrastructure, a tool and source of evidence for Law Enforcement operation worldwide.
                        </p>
                    </div>

                    <a [routerLink]="['/about']"><button class="btn-sw btn-sw-secondary">Read More</button></a>
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="about-vids">
                <a id="play-video" class="video-play-button" href="#">
                    <span></span>
                </a>
            </div>
        </div>
    </div>
</section>