<section class="inline-about">
    <div>
        <div class="row">
            <div class="col-md-6">
                <div class="container-fluid about-details">
                    <div>
                    <h2 class="homepage-title">About Us</h2>
                    <div class="about-details__p">
                        <p>Lorem ipsum dorlo Lorem ipsum dorlo Lorem
                            ipsum dorlo Lorem ipsum dorlo Lorem ipsum
                            Lorem ipsum dorlo Lorem ipsum dorlo Lorem
                            ipsum dorlo Lorem ipsum dorlo Lorem ipsum</p>
                        <p>Lorem ipsum dorlo Lorem ipsum dorlo Lorem
                            ipsum dorlo Lorem ipsum dorlo Lorem ipsum
                            Lorem ipsum dorlo Lorem ipsum dorlo Lorem
                            ipsum dorlo Lorem ipsum dorlo Lorem ipsum</p>
                        <p>Lorem ipsum dorlo Lorem ipsum dorlo Lorem
                            ipsum dorlo Lorem ipsum dorlo Lorem ipsum
                            Lorem ipsum dorlo Lorem ipsum dorlo Lorem
                            ipsum dorlo Lorem ipsum dorlo Lorem ipsum</p>
                    </div>

                    <a href=""><button class="btn-sw btn-sw-secondary">Read More</button></a>                        
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="about-vids">
                </div>
            </div>
        </div>
    </div>
</section>