<header>
    <tac-nav></tac-nav>
    <tac-header-page-nav [title]="title"></tac-header-page-nav>
</header>

<main>
    <div class="container">
        <div class="partners-container">
            <div>
                <h2 class="homepage-title">Government</h2>
            </div>
            <drag-scroll #inblog>
                <img src="../../../assets/ncb.png" alt="">
                <img src="../../../assets/ministry-of-aviation.png" alt="">
                <img src="../../../assets/ministry-of-power.png" alt="">
                <img src="../../../assets/CyberPeaceFoundation.png" alt="">
                <img src="../../../assets/CyberPeaceFoundation.png" alt="">
            </drag-scroll>
        </div>

        <div class="partners-container">
            <div>
                <h2 class="homepage-title">Universities & Eduction Institution</h2>
            </div>
            <drag-scroll #inblog>
                <img src="../../../assets/CyberPeaceFoundation.png" alt="">
                <img src="../../../assets/CyberPeaceFoundation.png" alt="">
                <img src="../../../assets/CyberPeaceFoundation.png" alt="">
            </drag-scroll>
        </div>

        <div class="partners-container">
            <div>
                <h2 class="homepage-title">Coperate Partners</h2>
            </div>
            <drag-scroll #inblog>
                <img src="../../../assets/CyberPeaceFoundation.png" alt="">
                <img src="../../../assets/CyberPeaceFoundation.png" alt="">
                <img src="../../../assets/CyberPeaceFoundation.png" alt="">
            </drag-scroll>
        </div>

    </div>
</main>

<footer>
    <tac-footer></tac-footer>
</footer>