<header>
    <tac-nav></tac-nav>
    <tac-header-page-nav [title]="title"></tac-header-page-nav>
</header>

<main>
    <div class="container">
        <div class="partners-container">
            <div>
                <h2 class="homepage-title">Government</h2>
            </div>
            <drag-scroll>
                <img src="https://res.cloudinary.com/silva/image/upload/v1587296478/ncb.png"
                    alt="Interpol NCB Abuja Logo" title="Interpol NCB Abuja">
                <img class="tac-img-grey"
                    src="https://res.cloudinary.com/silva/image/upload/v1587296481/ministry-of-aviation.png"
                    alt="Ministry Of Aviation Logo"
                    title="Ministry Of Aviation">
                <img class="tac-img-grey"
                    src="https://res.cloudinary.com/silva/image/upload/v1587296474/ministry-of-power.png"
                    alt="Ministry Of Power Logo"
                    title="Ministry Of Power">
                <img class="tac-img-grey" src="https://res.cloudinary.com/silva/image/upload/v1587296474/osgf.png"
                    alt="OSGF Logo" title="OSGF">
            </drag-scroll>
        </div>

        <div class="partners-container">
            <div>
                <h2 class="homepage-title">Universities & Education Institution</h2>
            </div>
            <drag-scroll>
                <img class="tac-img-grey" src="https://res.cloudinary.com/silva/image/upload/v1587296483/yola.png"
                    alt="Federal University Technology Of Yola Logo" title="Federal University Technology Of Yola">
                <img src="https://res.cloudinary.com/silva/image/upload/v1587296480/futa.png"
                    alt="Federal University Of Technology Akure Logo"
                    title="Federal University Of Technology Akure">
            </drag-scroll>
        </div>

        <div class="partners-container">
            <div>
                <h2 class="homepage-title">Coperate Partners</h2>
            </div>
            <drag-scroll>
                <img src="https://res.cloudinary.com/silva/image/upload/v1587288728/grey-hare.png"
                    alt="Grey Hare Media Logo" title="Grey Hare Media">
                <img src="https://res.cloudinary.com/silva/image/upload/v1587289397/itdt.png"
                    alt="Institute OF Drone Technology Australia Logo" title="Institute OF Drone Technology Australia">
                <img src="https://res.cloudinary.com/silva/image/upload/v1587293238/cyber-peace-foundation.png"
                    alt="Cyber Peace FOundation Logo" title="Cyber Peace Foundation">
                <img src="https://res.cloudinary.com/silva/image/upload/v1587289952/drone-alert.png" alt="Drone Alert"
                    title="Cyber Peace Foundation">
                <img src="https://res.cloudinary.com/silva/image/upload/v1581604125/new-aerial.png"
                    alt="New Aerial Logo" alt="New Aerial">
                <img src="https://res.cloudinary.com/silva/image/upload/v1581604124/daniels-security.png"
                    alt="Daniels Security Logo" title="Daniels Security">

            </drag-scroll>
        </div>

    </div>
</main>

<footer>
    <tac-footer></tac-footer>
</footer>