@import '../../../styles/abstracts/variables';

.hero-container {
    min-height: 30em;
    position: relative;
}
.hero-text {
    position: absolute;
    z-index: 20;
    top: 13em;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 100%;

    &__container {
        max-width: 37em;
        text-align: center;
    }

    h3 {
        font-size: 1.8rem;
        line-height: 1.35;
        margin-bottom: 1em;
        text-transform: capitalize;
        -moz-user-select: none;
        user-select: none;
        color: $main-blue;
    }

    p {
      color: $lightest-blue;
    }
}


