<header>
    <tac-nav></tac-nav>
</header>

<div class="container">
        <div class="inline-blog__img-container">
            <img src="{{post.image}}" class="inline-blog__img img-fluid" alt="" srcset="">
        </div>

        <div>

            <markdown class="variable-binding" [data]="post.content" ></markdown>
            
        </div>
        <div class="inline-blog__blog-detail">
            <h3>{{ post.title | slice:0:70 }}...</h3>
            <p>{{ post.publish | date  }}</p>
        </div>
</div>

<footer>
    <tac-footer></tac-footer>
</footer>