<header>
    <tac-nav></tac-nav>
</header>

    <div class="hero-container" [style.background-image]="'url(' + post.image + ')'">
        <div class="hero-overlay">

        </div>

        <div class="hero-text">
            <div class="hero-text__container">
                <h3>{{ post.title }}</h3>
                <p>{{ post.publish | date  }}</p>
            </div>               
        </div>
 
    </div>


    <div class="container">
        <markdown class="variable-binding" [data]="post.content" ></markdown>
    </div>

<footer>
    <tac-footer></tac-footer>
</footer>