<header>
    <tac-nav></tac-nav>
</header>

<main>
    <div class="hero-container">

        <div class="hero-text">
            <div class="hero-text__container">
                <h3>{{ post.title }}</h3>
                <p><i class="fa fa-calendar-o"></i> {{ post.publish | date  }}</p>
            </div>
        </div>

    </div>


    <div class="container" style="max-width: 54em;">
        <markdown class="variable-binding" [data]="post.content"></markdown>
    </div>
</main>

<footer>
    <tac-footer></tac-footer>
</footer>