<section class="container-fluid">
    <div class="top-container container-pd ">
        <div class="row">
            <div class="col-md-5">
                <div class="tac-header-detail">
                    <div class="tac-header-detail__items">
                        <h2>Combating Crime in
                            Africa with emerging
                            technology
                        </h2>

                        <p>
                            An NGO Obliged to bringing together Law
                            Enforcement Agents, Academia and Subject
                            Matter Experts to curb technology aided
                            crime
                        </p>

                        <a>
                            <button class="btn-sw btn-sw-primary btn-nsw-width ">Learn More</button>
                        </a>                        
                    </div>

                </div>

            </div>

            <div class="col-md-7">
                <div class="header-icon">
                    <img src="../../../assets/tac-icon.svg" alt="Technology Against Crime ideology" srcset="">
                </div>
            </div>
        </div>

        <div class="header-partners-icon">
                <img class="img-fluid" src="../../../assets/CyberPeaceFoundation.png" alt="Technology Against Crime ideology" srcset="">
                <img class="img-fluid" src="../../../assets/greyHareMedia.png" alt="Technology Against Crime ideology"
                    srcset="">
                <img class="img-fluid" src="../../../assets/instituteOfDroneTechnologyAustralia.png"
                    alt="Technology Against Crime ideology" srcset="">
                <img class="img-fluid" src="../../../assets/logoDroneAlert.png" alt="Technology Against Crime ideology"
                    srcset="">
        </div>

    </div>
</section>