<section class="container-fluid">
    <div>
        <div>
            <h2>How you can get Involved</h2>
        </div>

        <div >
        <div class="row">
            <div class="col-md-6">
                <img src="../../../assets/drone-lab-icon.png" alt="" srcset="">
                <h3>Drone and Counter-Drone Lab</h3>
                <p>Lorem ipsum dorlo Lorem ipsum dorlo Lorem ipsum
                    dorlo Lorem i psum dorlo Lorem ipsum dorlo Lorem
                    ipsum dorlo Lorem ipsum dorlo Lorem ipsum
                    dorlo Lorem i psum dorlo Lorem ipsum dorlo </p>
                <a href="">
                    <button class="btn-sw btn-sw-primary">Join</button>
                </a>
            </div>

            <div class="col-md-6">
                <img src="../../../assets/syber-lab-icon.png" alt="" srcset="">
                <h3>Cyber Security Lab</h3>
                <p>Lorem ipsum dorlo Lorem ipsum dorlo Lorem ipsum
                    dorlo Lorem i psum dorlo Lorem ipsum dorlo Lorem
                    ipsum dorlo Lorem ipsum dorlo Lorem ipsum
                    dorlo Lorem i psum dorlo Lorem ipsum dorlo </p>
                <a href="">
                    <button class="btn-sw btn-sw-primary">Join</button>
                </a>
            </div>
        </div>
        </div>

    </div>

</section>