@import '../../../styles/abstracts/variables';

//Labs card - contains the different labs
.labs-card {
    margin-top: 5em;

    h3 {
        color: $main-blue;
        text-align: center;
        font-size: 1.6em;
        line-height: 1.5em;
    }

    p {
        max-width: 25em;
        text-align: center;
        margin: 0 auto;
        line-height: 1.5;
        color: $lightest-blue;
        min-height: 5em;
    }

    button {
        margin-top: 1.5em;
        padding: 0.5rem 3rem;
    }

    img {
        min-height: 10em;
    }
}


//margin-top component


@media (max-width: $breakpoint-md) {
    .labs-card {
        margin-top: 5em;

        &:not(:first-child) {
            margin-top: 5em;
        }
    }

    .top-section {
        margin-top: 5em;
    }
}