<section >
    <div class="container-fluid lab-section">
        <div>
            <h2 class="text-center">How you can get <em>Involved</em></h2>
        </div>

        <div class="m-t-c">
            <div class="row">
                <div class="col-md-6">
                    <div class="text-center labs-card">
                        <img  class="img-fluid" src="../../../assets/drone-lab-icon.png" alt="" srcset="">
                        <h3>Drone and Counter-Drone Lab</h3>
                        <p>Lorem ipsum dorlo Lorem ipsum dorlo Lorem ipsum
                            dorlo Lorem i psum dorlo Lorem ipsum dorlo Lorem
                            ipsum dorlo Lorem ipsum dorlo Lorem ipsum
                            dorlo Lorem i psum dorlo Lorem ipsum dorlo </p>
                        <a href="">
                            <button class="btn-sw btn-sw-primary">Join</button>
                        </a>
                    </div>

                </div>

                <div class="col-md-6">
                    <div class="text-center labs-card">
                        <img class="img-fluid" src="../../../assets/syber-lab-icon.png" alt="" srcset="">
                        <h3>Cyber Security Lab</h3>
                        <p>Lorem ipsum dorlo Lorem ipsum dorlo Lorem ipsum
                            dorlo Lorem i psum dorlo Lorem ipsum dorlo Lorem
                            ipsum dorlo Lorem ipsum dorlo Lorem ipsum
                            dorlo Lorem i psum dorlo Lorem ipsum dorlo </p>
                        <a href="">
                            <button class="btn-sw btn-sw-primary">Join</button>
                        </a>
                    </div>

                </div>
            </div>
        </div>

    </div>

</section>