<section>
    <div class="top-section container-fluid">
        <div>
            <h2 class="text-center homepage-title">Our <em>Journey</em></h2>
        </div>

        <div class="row mt-5">
            <div class="col-lg-12">
                <div class="timeline">
                    <div class="timeline-container left">
                        <div class="content">
                            <h3>April 2013 & April 2016 Beginnings</h3>
                            <p class="mt-3"> <em>TAC</em> NGO AFRICA was born out of an International
                                Forum on Technologies, a high level meeting
                                dedicated to “Technology for a Safer world.
                                The first two editions were held in Lyon,
                                in April 2013 and April 2016 respectively
                                under the patronage of the Ministry of
                                Interior and <em>INTERPOL</em>.</p>
                        </div>
                    </div>
                    <div class="timeline-container right">
                        <div class="content">
                            <h3>April 2020 Open Innovation
                                and Virtual Co-Creation Lab
                            </h3>
                            <p class="mt-3">The proposed TAC Africa Virtual Platform
                                and Summit 2020 will be organized
                                under the patronage of the Office of
                                the <em>National Security Adviser (ONSA)</em>
                                and the <em>Ministry of Aviation</em> in
                                partnership with International
                                organization and other
                                authorize Agencies.</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>