<header>
    <tac-nav></tac-nav>
    <tac-header-page-nav [title]="title"></tac-header-page-nav>
</header>

<main>
    <section>
        <div class="container-fluid founder-info">
            <div class="row">
                <div class="col-md-6">
                    <div class="founder-info__text">
                        <p>Jerry Akubo Innocent is presently the <em>National Technical Officer</em>, <em>INTERPOL NCB
                                Abuja</em> ,
                            Nigeria. He is a Drone Expert, maritime survey Expert and an Intelligence System Support
                            specialist trained by <em>INTERPOL</em> and <em>FBI</em> . Being active in the Law
                            Enforcement Domain for over
                            a decade now, he uses Innovative Aerial Surveillance & remote sensing to tackle the unique
                            set of challenges the region is facing including on the one side, crimes like oil theft and
                            on the other, battling insurgents and terrorist group, often operating in very remote
                            locations.</p>

                        <p>
                            He believes the major problem of Africa is unavailability of robust internet
                            infrastructure, satellite unavailability and unconnected innovative solution to curb the
                            technology menace bedeviling the Sub region.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="founder-info__img">
                        <img src="../../../assets/jerry.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<footer>
    <tac-footer></tac-footer>
</footer>