@import '../../styles/abstracts/variables';

.homepage-title {
    font-size: 2.35em;
    color: $main-blue;
    font-weight: 500;
    line-height: 1.35em;
}


.top-section {
    margin-top: 10em;
}

.r-m-1 {
    margin-top: 1em;
}

.r-m-1f {
    margin-top: 1.5em;
}

@media (max-width: $breakpoint-md) {
    p {
        font-size: 1em !important;
    }

    .homepage-title {
        font-size: 1.8em;
    }
    
    h3 {
        font-size: 1.3em !important;
    }
}

